
@media only screen and (max-width: 357px) {
    .social-link a {
        margin-right: 12px;
    }
    .social-content h4 {
        font-size: 16px;
    }
    .social-content span {
        margin-left: 0px;
        width: 35px;
        left: 90px;
    }
    .social-link {
        padding-left: 55px;
    }
    /* end of about section
    --------------------------------*/
}
/* 1. end of max width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (max-width: 380px) {
    .nav-link {
        display: block;
        padding: .3rem 1rem;
    }
    /* end of header section
    --------------------------------*/
    .banner-section {
        background-color: #2b2c2c;
        padding-top: 10px;
    }
    .banner-content h1 {
        font-size: 40px;
    }
    .banner-content p {
        margin-bottom: 30px;
    }
    .banner-media {
        margin-top: 60px;
    }
    /* end of banner section
    --------------------------------*/
    .about-section {
        padding: 90px 0 60px;
    }
    .about-content {
        padding-top: 55px;
        padding-bottom: 85px;
    }
    .about-content h2 {
        font-size: 30px;
        padding: 0;
    }
    .about-details h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .information-wrap {
        margin: 30px 30px;
    }
    .bg-custom.bg-cus-one {
        padding-bottom: 5px;
    }
    .bg-custom.bg-cus-two {
        padding-top: 5px;
    }
    .about-btn {
        margin-bottom: 25px;
        text-align: center;
    }
    .about-btn a {
        font-size: 18px;
        padding: 10px 55px;
    }
    .social-link-wrap {
        align-items: center;
        justify-content: center;
    }
    .social-content {
        margin-left: 0;
    }
    .social-link a {
        margin-right: 23px;
    }
  
    .social-link a:last-child {
        margin-right: 0;
    }
    /* end of about section
    --------------------------------*/
    .skills-section {
        padding: 90px 0 60px;
    }
    .skills-header h3 {
        font-size: 28px;
    }
    .skills-header {
        padding-bottom: 70px;
    }
    .skills-header span {
        width: 70px;
    }
    .progress-skills h6 {
        font-size: 16px;
    }
    .progress span {
        padding: 8px;
        top: -10px;
        right: 50px;
    }
    /* end of skills section
    --------------------------------*/
    .services-section {
        background-color: #303131;
        padding: 90px 0 60px;
    }
    .service-header h6 {
        font-size: 16px;
    }
    .service-header h3 {
        font-size: 27px;
    }
    .service-header span {
        width: 70px;
    }
    .service-header p {
        max-width: 100%;
        margin: 30px auto 40px;
    }
    .service-icon {
        max-width: 15%;
        margin-bottom: 10px;
    }
    .service-item-inner h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .service-item-inner {
        padding: 20px 20px;
    }
    .service-single-item.webDesign {
        margin-bottom: 30px;
    }
    .service-single-item.landingPage {
        margin: 0;
    }
    .service-single-item.emailSignature {
        margin: 30px 0;
    }
    /* end of service section
    --------------------------------*/
    .protfolio-section {
        padding: 90px 0 60px;
    }
    .protfolio-menu {
        flex-direction: row;
        flex-flow: row wrap;
    }
    .service-header.protfolio-text p {
        max-width: 100%;
    }
    .protfolio-menu {
        flex-direction: row;
        flex-flow: row wrap;
    }
    /* end of protfolio section
    --------------------------------*/
    .blog-section {
        background-color: #303131;
        padding: 90px 0 60px;
    }
    .service-header.blog-text p {
        max-width: 100%;
    }
    /* end of blog section
    --------------------------------*/
    .contact-section {
        background-color: #2b2c2c;
        padding: 90px 0 60px;
    }
    .contact-info-wrap h4 {
        font-size: 20px;
    }
    .btn-input {
        margin-top: 15px;
    }
    /* end of contact section
    --------------------------------*/
    .footer-section {
        padding-top: 90px;
    }
    .footer-top h4 {
        font-size: 20px;
    }
    .footer-top p {
        width: 100%;
    }
    .social-link.footer-link {
        margin-bottom: 20px;
    }
    /* end of footer section
    --------------------------------*/
}

/* 1. end of max width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 380px) {
    .nav-link {
        display: block;
        padding: .3rem 1rem;
    }
    /* end of header section
    --------------------------------*/
    .banner-section {
        background-color: #2b2c2c;
        padding-top: 10px;
    }
    .banner-content h1 {
        font-size: 40px;
    }
    .banner-content p {
        margin-bottom: 30px;
    }
    .banner-media {
        margin-top: 60px;
    }
    /* end of banner section
    --------------------------------*/
    .about-section {
        padding: 90px 0 60px;
    }
    .about-content {
        padding-top: 55px;
        padding-bottom: 85px;
    }
    .about-content h2 {
        font-size: 30px;
        padding: 0;
    }
    .about-details h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .information-wrap {
        margin: 30px 30px;
    }
    .bg-custom.bg-cus-one {
        padding-bottom: 5px;
    }
    .bg-custom.bg-cus-two {
        padding-top: 5px;
    }
    .about-btn {
        margin-bottom: 25px;
        text-align: center;
    }
    .about-btn a {
        font-size: 18px;
        padding: 10px 55px;
    }
    .social-link-wrap {
        align-items: center;
        justify-content: center;
    }
    .social-content {
        margin-left: 0;
    }
    .social-link a {
        margin-right: 23px;
    }
    .social-link a:last-child {
        margin-right: 0;
    }
    /* end of about section
    --------------------------------*/
    .skills-section {
        padding: 90px 0 60px;
    }
    .skills-header h3 {
        font-size: 28px;
    }
    .skills-header span {
        width: 70px;
    }
    .skills-header {
        padding-bottom: 70px;
    }
    .progress-skills h6 {
        font-size: 16px;
    }
    .progress span {
        padding: 8px;
        top: -10px;
        right: 50px;
    }
    /* end of skills section
    --------------------------------*/
    .services-section {
        background-color: #303131;
        padding: 90px 0 60px;
    }
    .service-header h6 {
        font-size: 16px;
    }
    .service-header h3 {
        font-size: 27px;
    }
    .service-header span {
        width: 70px;
    }
    .service-header p {
        max-width: 100%;
        margin: 30px auto 40px;
    }
    .service-icon {
        max-width: 15%;
        margin-bottom: 10px;
    }
    .service-item-inner h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .service-item-inner {
        padding: 20px 20px;
    }
    .service-single-item.webDesign {
        margin-bottom: 30px;
    }
    .service-single-item.landingPage {
        margin: 0;
    }
    .service-single-item.emailSignature {
        margin: 30px 0;
    }
    /* end of service section
    --------------------------------*/
    .protfolio-section {
        padding: 90px 0 60px;
    }
    .service-header.protfolio-text p {
        max-width: 100%;
    }
    .protfolio-menu {
        flex-direction: row;
        flex-flow: row wrap;
    }
    /* end of protfolio section
    --------------------------------*/
    .blog-section {
        background-color: #303131;
        padding: 90px 0 60px;
    }
    .service-header.blog-text p {
        max-width: 100%;
    }
    /* end of blog section
    --------------------------------*/
    .contact-section {
        background-color: #2b2c2c;
        padding: 90px 0 60px;
    }
    .contact-info-wrap h4 {
        font-size: 20px;
    }
    .btn-input {
        margin-top: 15px;
    }
    /* end of contact section
    --------------------------------*/
    .footer-section {
        padding-top: 90px;
    }
    .footer-top h4 {
        font-size: 20px;
    }
    .footer-top p {
        width: 100%;
    }
    .social-link.footer-link {
        margin-bottom: 20px;
    }
    /* end of footer section
    --------------------------------*/
}

/* 2. end of min width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 576px) {
    .about-section {
        padding: 60px 0 60px;
    }
    .about-media {
        max-width: 80%;
        height: 50vh;
        margin: 0 auto 70px;
    }
    .about-content {
        padding-top: 80px;
    }

    /* end of about section
    --------------------------------*/
}

/* 3. end of min width 576
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 768px) {
    .banner-content h1 {
        font-size: 33px;
    }
    /* end of banner section
    --------------------------------*/
    .about-section {
        padding: 100px 0;
    }
    .about-media {
        max-width: 66%;
        height: 57vh;
        margin: 0 auto 60px;
    }
    .about-content h2 {
        font-size: 40px;
    }
    .about-header h2 {
        font-size: 25px;
    }
    .about-details h3 {
        font-size: 25px;
    }
    .bg-custom.bg-cus-one {
        padding-bottom: 20px;
        padding-top: 25px;
    }
    .bg-custom.bg-cus-two {
        padding-top: 25px;
    }
    .about-btn {
        margin-bottom: 0;
    }
    /* end of about section
    --------------------------------*/
    .skills-section {
        padding: 100px 0;
    }
    .skills-header h3 {
        font-size: 40px;
    }
    .skills-header h6 {
        font-size: 20px;
    }
    .progress-skills h6 {
        font-size: 18px;
    }
    .progress span {
        padding: 10px;
        top: -15px;
    }
    /* end of skills section
    --------------------------------*/
    .services-section {
        padding: 100px 0;
    }
    .service-header h6 {
        font-size: 18px;
    }
    .service-header h3 {
        font-size: 40px;
    }
    .service-single-item.emailTemplate {
        margin: 0;
    }
    .service-single-item.onePage {
        margin-top: 30px;
    }
    /* end of service section
    --------------------------------*/
    .protfolio-section {
        padding: 100px 0;
    }
    .protfolio-service.service-width-one {
        margin: 30px 0 0 0;
    }
    .protfolio-service {
        margin: 30px 0 5px;
    }
    /* end of protfolio section
    --------------------------------*/
    .blog-section {
        padding: 100px 0;
    }
    /* end of blog section
    --------------------------------*/
    .contact-section {
        padding: 100px 0;
    }
    .contact-info-wrap h4 {
        font-size: 22px;
    }
    /* end of contact section
    --------------------------------*/
    .footer-section {
        padding-top: 100px;
    }
    .footer-top h4 {
        font-size: 22px;
    }
    .copyright p {
        font-size: 16px;
    }
    /* end of footer section
    --------------------------------*/
}

/* 4. end of min width 768
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 992px) {
    .banner-content {
        padding-top: 130px;
    }
    .banner-content h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .banner-content p {
        font-size: 20px;
        max-width: 100%;
    }
    /* end of banner section
    --------------------------------*/
    .about-media {
        max-width: 100%;
        height: 45vh;
        margin: 40px auto 100px;
    }
    .about-content {
        padding-top: 60px;
        margin-left: 50px;
    }
    .about-content h2 {
        font-size: 45px;
    }
    /* end of about section
    --------------------------------*/
    .skills-header h3 {
        font-size: 45px;
    }
    /* end of slills section
    --------------------------------*/
    .service-item-inner {
        padding: 20px 30px;
    }
    
    .service-icon {
        margin-bottom: 15px;
    }
    .service-item-inner h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .service-header p {
        max-width: 71%;
        margin: 30px auto 40px;
    }
    .service-single-item {
        height: 47vh;
    }
    /* end of service section
    --------------------------------*/
    .service-header h3 {
        font-size: 45px;
    }
    .protfolio-menu li a {
        font-size: 15px;
    }
    .service-header.protfolio-text p {
        max-width: 50%;
    }
    /* end of protfolio section
    --------------------------------*/
    .service-header.blog-text p {
        max-width: 60%;
    }
    /* end of blog section
    --------------------------------*/
    .footer-top p {
        margin: 25px 0;
    }
    .navigation-link {
        margin: 25px 0;
    }
    /* end of footer section
    --------------------------------*/
}

/* 5. end of min width 992
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 1200px) {
    .banner-content {
        padding-top: 185px;
    }
    .banner-content h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }
    .banner-content p {
        font-size: 22px;
        max-width: 87%;
        margin-bottom: 45px;
    }
    .banner-content a {
        padding: 15px 80px;
    }
    /* end of banner section
    --------------------------------*/
    .about-media {
        max-width: 100%;
        height: 54vh;
        margin: 40px auto 90px;
    }
    /* end of about section
    --------------------------------*/
    .progress-skills h6 {
        font-size: 20px;
    }
    .progress span {
        right: 70px;
    }
    /* end of skills section
    --------------------------------*/
    .service-header p {
        max-width: 83%;
    }
    .service-single-item {
        height: 56vh;
    }
    .service-item-inner {
        padding: 40px 40px;
    }
    /* end of service section
    --------------------------------*/
    .card-body.blog-body h5 {
        font-size: 22px;
    }
    /* end of blog section
    --------------------------------*/
}

/* 6. end of min width 1200
----------------------------------------------------------------------------
============================================================================*/
